---
import { Image } from "astro:assets"
import { client } from "~/services/apollo"
import { getToolsSlugsQuery, getToolQuery } from "~/queries/tools"
import Layout from "~/layouts/Layout.astro"
import { getScreenshotUrl } from "~/services/screenshotone"
import { status } from "~/utils/response"
import type { RemoveNull } from "~/env"

export const getStaticPaths = async () => {
  const { data } = await client.query({
    query: getToolsSlugsQuery,
  })

  return data.tools?.map((tool) => ({ params: { tool: tool?.slug } })) ?? []
}

const { data } = await client.query({
  query: getToolQuery,
  variables: { slug: Astro.params.tool! },
})

const tool = (data.tools as RemoveNull<typeof data.tools>)?.[0]

if (!tool) return status(404, `${Astro.url}/404`)

const imageUrl = await getScreenshotUrl(tool.website, tool.slug)
---

<Layout title="Open Source Alternatives">
  <Image src={imageUrl} alt="" width={1280} height={1024} loading="eager" />
  <div>Good tool, {tool.name}!</div>
</Layout>
