---
import { Image } from "astro:assets"
import { client } from "~/services/apollo"
import { getCategoriesSlugsQuery, getCategoryQuery } from "~/queries/categories"
import Layout from "~/layouts/Layout.astro"
import { getScreenshotUrl } from "~/services/screenshotone"
import { response } from "~/utils/response"
import Pattern from "~/components/pattern/Pattern.astro"
import Favicon from "~/components/Favicon.astro"
import { badgeVariants, listVariants } from "~/styles"

export const getStaticPaths = async () => {
  const { data } = await client.query({
    query: getCategoriesSlugsQuery,
  })

  return data.categories?.map((category) => ({ params: { category: category?.slug } })) ?? []
}

const { data } = await client.query({
  query: getCategoryQuery,
  variables: { slug: Astro.params.category! },
})

const category = data.categories![0]

if (!category) {
  return response(404, `${Astro.url}/404`)
}
---

<Layout title="Open Source Alternatives">
  <h1 class="text-2xl font-semibold">Open Source {category.name} Tools</h1>
</Layout>
