@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 400 700;
  src: url("/fonts/Geist-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Uncut Sans";
  font-style: normal;
  font-weight: 400 900;
  src: url("/fonts/UncutSans-Variable.woff2") format("woff2");
}

:root {
  --header-height: 3.125rem;
  --header-top: 0rem;

  --color-primary: 15 63% 40%;
  --color-background: 0 0% 100%;

  --color-card: 0 0% 99%;
  --color-card-dark: 0 0% 97%;
  --color-border: 0 0% 88%;
  --color-border-dark: 0 0% 83%;

  --color-muted: 0 0% 40%;
  --color-secondary: 0 0% 30%;
  --color-foreground: 0 0% 13%;
}

.dark {
  --color-primary: 15 63% 50%;
  --color-background: 0 0% 8%;

  --color-card: 0 0% 10%;
  --color-card-dark: 0 0% 12%;
  --color-border: 0 0% 16%;
  --color-border-dark: 0 0% 19%;

  --color-muted: 0 0% 60%;
  --color-secondary: 0 0% 70%;
  --color-foreground: 0 0% 87%;
}

:root {
  font-feature-settings:
    "ss01" on,
    "ss02" off,
    "ss03" off,
    "ss04" off,
    "ss05" off,
    "ss06" off,
    "ss07" off,
    "ss08" on;
}

@layer utilities {
  .animate-reveal {
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 15%;
  }
}

a,
button,
label[for],
[href] [class*="group-hover"] {
  @apply transition;
  @apply ease-out;
  @apply duration-100;
  @apply cursor-pointer;
}

svg:not([class*="stroke"]) {
  @apply !stroke-[1.75];
}

svg:not([class*="size-"]):not([class*="h-"]) {
  @apply size-[1em];
}

[href] svg[class*="arrow-up-right"],
[href] svg[class*="arrow-right"],
[type] svg[class*="arrow-up-right"],
[type] svg[class*="arrow-right"] {
  @apply will-change-transform;
  @apply duration-150;
}

[href]:hover svg[class*="arrow-up-right"],
[type]:hover svg[class*="arrow-up-right"] {
  @apply translate-x-[0.15em];
  @apply rotate-12;
}

[href]:hover svg[class*="arrow-right"],
[type]:hover svg[class*="arrow-right"] {
  @apply translate-x-[0.15em];
}

hr {
  @apply border-muted;
  @apply opacity-15;
}

select:not([size]) {
  @apply bg-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9J2N1cnJlbnRDb2xvcicgc3Ryb2tlLXdpZHRoPScyJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIGNsYXNzPSdsdWNpZGUgbHVjaWRlLWNoZXZyb24tZG93bic+PHBhdGggZD0nbTYgOSA2IDYgNi02Jy8+PC9zdmc+')];
  @apply dark:bg-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNmZmYnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nbHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWRvd24nPjxwYXRoIGQ9J202IDkgNiA2IDYtNicvPjwvc3ZnPg==')];
  @apply bg-no-repeat;
  @apply bg-[right_0.75rem_center];
  @apply bg-[length:1.25em_1.25em];
  @apply pr-8;
}
