---
import Card from "~/components/Card.astro"
import { badgeVariants, listVariants } from "~/styles"
import Favicon from "~/components/Favicon.astro"
import type { Category } from "~/queries/categories"

type Props = {
  category: Pick<Category, "id" | "name" | "slug">
}

const category = Astro.props.category!
---

<Card href={`/category/${category?.slug}`}>
  <h2 class="text-lg font-semibold">{category?.name}</h2>
</Card>
