@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Uncut Sans";
  font-style: normal;
  font-weight: 400 700;
  src: url("/fonts/UncutSans-Variable.woff2") format("woff2");
}

:root {
  --header-height: 3.125rem;
  --header-top: 0rem;

  --color-primary: 15 63% 60%;
  --color-background: 0 0% 100%;

  --color-card: 0 0% 98%;
  --color-card-dark: 0 0% 96%;
  --color-border: 0 0% 88%;
  --color-border-dark: 0 0% 83%;

  --color-muted: 0 0% 50%;
  --color-secondary: 0 0% 33.3%;
  --color-foreground: 0 0% 15%;
}

.dark {
  --color-primary: 15 63% 40%;
  --color-background: 0 0% 8%;

  --color-card: 0 0% 10%;
  --color-card-dark: 0 0% 12%;
  --color-border: 0 0% 16%;
  --color-border-dark: 0 0% 19%;

  --color-muted: 0 0% 50%;
  --color-secondary: 0 0% 66.6%;
  --color-foreground: 0 0% 87%;
}

:root {
  font-feature-settings:
    "ss01" on, /* Alternate R */
    "ss02" on, /* Alternate Y and y */
    "ss03" on, /* Alernative Q, Ø, and ø */
    "ss04" off, /* Alernative a */
    "ss05" on, /* Alernative 1, 2, and 4 */
    "ss06" on, /* Alternate !, ?, and * */
    "ss07" on, /* Round punctuation */
    "ss08" off; /* Alternate arrows */
}

a,
button,
label[for],
[href] [class*="group-hover"] {
  @apply transition;
  @apply ease-out;
  @apply duration-200;
  @apply cursor-pointer;
}

svg:not([class*="stroke"]) {
  @apply !stroke-[1.75];
}

svg:not([class*="size-"]):not([class*="h-"]) {
  @apply size-[1em];
}

[href] svg[class*="arrow-up-right"] {
  @apply will-change-transform;
  @apply duration-150;
}

[href]:hover svg[class*="arrow-up-right"] {
  @apply rotate-45;
}

.fade-in {
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range-start: 0;
  animation-range-end: 15%;
  transform-style: preserve-3d;
}

@keyframes fade-in {
  from {
    scale: 0.9;
    opacity: 0;
    transform: translateY(20px) perspective(250px) rotateX(-15deg);
  }
  to {
    scale: 1;
    opacity: 1;
    transform: translateY(0) perspective(500px) rotateX(0deg);
  }
}

select:not([size]) {
  @apply bg-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9J2N1cnJlbnRDb2xvcicgc3Ryb2tlLXdpZHRoPScyJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIGNsYXNzPSdsdWNpZGUgbHVjaWRlLWNoZXZyb24tZG93bic+PHBhdGggZD0nbTYgOSA2IDYgNi02Jy8+PC9zdmc+')];
  @apply dark:bg-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNmZmYnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nbHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWRvd24nPjxwYXRoIGQ9J202IDkgNiA2IDYtNicvPjwvc3ZnPg==')];
  @apply bg-no-repeat;
  @apply bg-[right_0.75rem_center];
  @apply bg-[length:1.25em_1.25em];
  @apply pr-8;
}
