---
import Layout from "~/layouts/Layout.astro"
import Intro from "~/components/Intro.astro"
import { buttonVariants } from "~/styles"
const title = "Page not found"
---

<Layout title={title}>
  <Intro title={title}>
    <p class="lead" slot="description">The page you are looking for does not exist.</p>
    <a href="/" class={buttonVariants({ theme: "primary" })}>Go back to the home page</a>
  </Intro>
</Layout>
