---
import Layout from "~/layouts/Layout.astro"
import { client } from "~/services/apollo"
import { getCategoriesQuery, type Category } from "~/queries/categories"
import Grid from "~/components/Grid.astro"
import Intro from "~/components/Intro.astro"
import CategoryCard from "~/components/cards/CategoryCard.astro"

const { data } = await client.query({
  query: getCategoriesQuery,
})

const categories = data.categories
const title = "Open Source Software Categories"
---

<Layout title={title}>
  <Intro title={title}>
    <p slot="description">Browse top categories to find your best Open Source software options.</p>
  </Intro>

  <Grid>
    {categories?.map((category) => <CategoryCard category={category as Category} />)}
  </Grid>
</Layout>
