---
import Layout from "~/layouts/Layout.astro"
import ToolCard from "~/components/tools/ToolCard.astro"
import { client } from "~/services/apollo"
import { getToolsQuery } from "~/queries/tools"
import type { RemoveNull } from "~/env"
import Grid from "~/components/Grid.astro"

const { data } = await client.query({
  query: getToolsQuery,
})

const tools = data.tools as RemoveNull<typeof data.tools>
---

<Layout title="Open Source Alternatives">
  <main class="m-4">
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>

    <Grid>
      {tools?.map((tool) => <ToolCard tool={tool} />)}
    </Grid>
  </main>
</Layout>
