---
import Layout from "~/layouts/Layout.astro"
import ToolCard from "~/components/tools/ToolCard.astro"
import { client } from "~/services/apollo"
import { getToolsQuery } from "~/queries/tools"
import type { RemoveNull } from "~/env"
import Grid from "~/components/Grid.astro"
import Intro from "~/components/Intro.astro"
import Filters from "~/components/Filters.astro"
import { Mail, Plus } from "lucide-astro"
import { buttonVariants } from "~/styles"
import { config } from "~/config"

const { data } = await client.query({
  query: getToolsQuery,
})

const tools = data.tools as RemoveNull<typeof data.tools>
const title = config.title

// <a href="/submit" class={buttonVariants({ theme: "primary" })}>
//   <Plus class="size-4" /> Submit your tool
// </a>

// <button id="subscribe" class={buttonVariants({ theme: "secondary" })}>
//   <Mail class="size-4" /> Subscribe
// </button>
---

<Layout title={title}>
  <Intro>
    <h2 class="font-normal text-[20px] leading-normal text-gray-600" slot="description">
      Discover <strong class="text-black font-semibold">open source alternatives</strong> to popular
      software.<br />We’ve curated 200+ open source alternatives to tools that businesses require in
      day-to-day operations.
    </h2>

    <a href="/alternatives" class={buttonVariants({ theme: "primary" })}>Browse alternatives</a>
  </Intro>

  <div class="flex items-start gap-6">
    <Grid>
      {tools?.map((tool) => <ToolCard tool={tool} />)}
    </Grid>
  </div>
</Layout>
