---
import Layout from "~/layouts/Layout.astro"
import ToolCard from "~/components/tools/ToolCard.astro"
import { client } from "~/services/apollo"
import { getToolsQuery } from "~/queries/tools"
import type { RemoveNull } from "~/env"
import Grid from "~/components/Grid.astro"
import Intro from "~/components/Intro.astro"
import Filters from "~/components/Filters.astro"

const { data } = await client.query({
  query: getToolsQuery,
})

const tools = data.tools as RemoveNull<typeof data.tools>
---

<Layout title="Open Source Alternatives">
  <main class="flex flex-col gap-12">
    <Intro />

    <div class="flex items-start gap-6">
      <Filters />

      <Grid>
        {tools?.map((tool) => <ToolCard tool={tool} />)}
      </Grid>
    </div>
  </main>
</Layout>
