---
import Layout from "~/layouts/Layout.astro"
import ToolCard from "~/components/cards/ToolCard.astro"
import { client } from "~/services/apollo"
import { getToolsQuery } from "~/queries/tools"
import type { RemoveNull } from "~/env"
import Grid from "~/components/Grid.astro"
import Intro from "~/components/Intro.astro"
import { buttonVariants } from "~/styles"
import { config } from "~/config"
import { Blocks } from "lucide-astro"

const { data } = await client.query({
  query: getToolsQuery,
  variables: { filter: null, pageSize: 12, orderBy: null, page: 1 },
})

const tools = data.tools as RemoveNull<typeof data.tools>

// <a href="/submit" class={buttonVariants({ theme: "primary" })}>
//   <Plus class="size-4" /> Submit your tool
// </a>

// <button id="subscribe" class={buttonVariants({ theme: "secondary" })}>
//   <Mail class="size-4" /> Subscribe
// </button>
---

<Layout title={config.tagline}>
  <Intro>
    <h2 class="font-normal text-[21px] leading-normal text-gray-600" slot="description">
      Discover <strong class="text-black font-semibold">open source alternatives</strong> to popular
      software.<br />We’ve curated some great open source alternatives to tools that your business
      requires in day-to-day operations.
    </h2>

    <a href="/categories" class={buttonVariants({ theme: "primary" })}>
      <Blocks class="size-4 text-white/75" />
      Browse categories
    </a>
  </Intro>

  <Grid>
    {tools?.map((tool) => <ToolCard tool={tool} />)}
  </Grid>
</Layout>
