---
import { client } from "~/services/apollo"
import { getCategoriesQuery } from "~/queries/categories"
import Layout from "~/layouts/Layout.astro"
import ToolCard from "~/components/cards/ToolCard.astro"
import Intro from "~/components/Intro.astro"
import Grid from "~/components/Grid.astro"
import type { Tool } from "~/queries/tools"

// Static Paths
export const getStaticPaths = async () => {
  const { data } = await client.query({
    query: getCategoriesQuery,
  })

  return (
    data.categories?.map((category) => ({
      params: { category: category?.slug },
      props: { category },
    })) ?? []
  )
}

const category = Astro.props.category!
const title = `Best Open Source ${category.name} Tools`
---

<Layout title={title}>
  <Intro title={title}>
    <p slot="description">
      A collection of the best open source {category.name} tools. Find the best tools for {
        category.name
      } that are open source and free to use.
    </p>
  </Intro>

  <Grid>
    {category.tools?.map((tool) => <ToolCard tool={tool as Tool} />)}
    {!category.tools?.length && <p>No tools found.</p>}
  </Grid>
</Layout>
