---
import type { HTMLAttributes } from "astro/types"
import Pattern from "~/components/Pattern.astro"

type Props = HTMLAttributes<"div"> & {
  href: string
  showPattern?: boolean
}

const { class: className, href, showPattern, ...props } = Astro.props
---

<a
  href={href}
  class:list={[
    "group relative flex flex-col p-6 bg-white border rounded-md shadow-sm overflow-clip hover:bg-zinc-50",
    className,
  ]}
  {...props}
>
  <div class="relative z-10 flex flex-col items-start gap-4 grow">
    <slot />
  </div>

  {showPattern && <Pattern width={76} height={56} x="50%" y="-6" squares={[[0, 1]]} />}
</a>
