---
import { Image } from "astro:assets"
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"div"> & {
  url: string | null
}

const { class: className, url, ...props } = Astro.props

if (!url) return
---

<div
  class:list={[
    "flex items-center justify-center p-1.5 size-11 rounded-md bg-white shadow-md shadow-gray-800/5 ring-1 ring-gray-900/5",
    className,
  ]}
  {...props}
>
  <Image
    src={`https://t0.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=${url}&size=64`}
    alt=""
    width={96}
    height={96}
    loading="eager"
    class="size-full rounded aspect-square"
  />
</div>
