---
import Container from "~/components/Container.astro"
import Logo from "~/components/Logo.astro"
import { config } from "~/config"
import { listVariants } from "~/styles"

const alternatives = [
  { name: "Notion", slug: "notion" },
  { name: "Salesforce", slug: "salesforce" },
  { name: "HubSpot", slug: "hubspot" },
  { name: "Typeform", slug: "typeform" },
  { name: "Calendly", slug: "calendly" },
]
---

<div class="relative bg-white border-t border-gray-200/60 mt-auto py-8 overflow-hidden">
  <Container class="relative z-10 flex flex-col justify-between gap-8 sm:flex-row md:gap-10">
    <div class:list={["flex-1 md:w-1/2", listVariants({ direction: "column", size: "lg" })]}>
      <Logo />

      <div class="prose prose-sm leading-normal">
        <p>
          <strong>{config.title}</strong> is a community driven list of open source alternatives to proprietary
          software and applications.
        </p>
        <p>
          Our goal is to be your first stop when researching for a new open source service to help
          you grow your business. We will help you find alternatives and reviews of the products you
          already use.
        </p>
      </div>

      <div class:list={["mt-4 text-sm", listVariants()]}>
        <a
          href="https://github.com/piotrkulpinski/openalternative"
          class="text-gray-600 hover:text-black"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          Source Code
        </a>
      </div>
    </div>

    <div class:list={[" text-sm", listVariants({ direction: "column" })]}>
      <strong class="mb-2 font-semibold">Explore</strong>
      <a href="/alternatives" class="text-gray-600 hover:text-black">Alternatives</a>
      <a href="/categories" class="text-gray-600 hover:text-black">Categories</a>
      <!-- <a href="/technologies" class="text-gray-600 hover:text-black">Technologies</a>
      <a href="/languages" class="text-gray-600 hover:text-black">Languages</a> -->
    </div>

    <div class:list={["text-sm", listVariants({ direction: "column" })]}>
      <strong class="mb-2 font-semibold">Big Tech Alternatives</strong>
      {
        alternatives.map((alternative) => (
          <a href={`/alternatives-to/${alternative.slug}`} class="text-gray-600 hover:text-black">
            {alternative.name} Alternatives
          </a>
        ))
      }
    </div>
  </Container>
</div>
