---
import type { HTMLAttributes } from "astro/types"
import Container from "~/components/Container.astro"
import Logo from "~/components/Logo.astro"
import { config } from "~/config"
import { listVariants } from "~/styles"

type Props = HTMLAttributes<"div"> & {}

const { pathname } = Astro.url
const { class: className, ...props } = Astro.props
---

<nav class:list={["w-full pt-3 md:pt-4", className]} {...props}>
  <Container class="flex min-w-0 items-center gap-3">
    {
      pathname === "/" ? (
        <h1>
          <Logo>{config.title}</Logo>
        </h1>
      ) : (
        <Logo>{config.title}</Logo>
      )
    }

    <div class:list={["ml-auto text-gray-600 text-sm", listVariants({ size: "lg" })]}>
      <a href="/alternatives" class="hover:text-black"> Alternatives</a>
      <a href="/categories" class="hover:text-black"> Categories</a>
    </div>
  </Container>
</nav>
