---
import type { HTMLAttributes } from "astro/types"
import { Mail, Plus } from "lucide-astro"
import { buttonVariants, listVariants } from "~/styles"

type Props = HTMLAttributes<"div"> & {
  title?: string
  description?: string
}

const { title, description, ...props } = Astro.props
---

<div class="flex flex-col items-start gap-3">
  {title && <h1 class="text-2xl font-bold text-gray-900">{title}</h1>}

  <div class="prose prose-zinc text-gray-600 leading-relaxed">
    <slot name="description" />
  </div>

  {
    Astro.slots.has("default") && (
      <div class:list={["mt-4", listVariants()]}>
        <slot />
      </div>
    )
  }
</div>

<script>
  // Find all buttons with the `alert` class on the page.
  const button = document.getElementById("subscribe")

  // Handle clicks on the button.
  button?.addEventListener("click", () => {
    alert("Button was clicked!")
  })
</script>
