---
import type { HTMLAttributes } from "astro/types"
import { listVariants } from "~/styles"

type Props = HTMLAttributes<"div"> & {
  title?: string
}

const { class: className, title, ...props } = Astro.props
---

<div class:list={[className, listVariants({ direction: "column", size: "lg" })]} {...props}>
  {
    title && (
      <div class={listVariants({ size: "lg" })}>
        <slot name="prefix" />
        <h1 class="text-2xl font-semibold">{title}</h1>
        <slot name="suffix" />
      </div>
    )
  }

  {
    Astro.slots.has("description") && (
      <div class="prose prose-zinc prose-a:no-underline prose-lg text-gray-600 leading-normal">
        <slot name="description" />
      </div>
    )
  }

  {
    Astro.slots.has("default") && (
      <div class:list={["mt-4", listVariants()]}>
        <slot />
      </div>
    )
  }
</div>
