---
import type { HTMLAttributes } from "astro/types"
import { Mail, Plus } from "lucide-astro"
import { buttonVariants, listVariants } from "~/styles"

type Props = HTMLAttributes<"div"> & {
  title?: string
  description?: string
}

const { title, description, ...props } = Astro.props
---

<div class={listVariants({ direction: "column", size: "lg" })} {...props}>
  {title && <h1 class="text-2xl font-bold text-gray-900">{title}</h1>}

  <div class="prose prose-zinc text-gray-600 leading-normal">
    <slot name="description" />
  </div>

  {
    Astro.slots.has("default") && (
      <div class:list={["mt-4", listVariants()]}>
        <slot />
      </div>
    )
  }
</div>
