---
import Layout from "~/layouts/Layout.astro"
import { client } from "~/services/apollo"
import { getAlternativesQuery, type Alternative } from "~/queries/alternatives"
import Grid from "~/components/Grid.astro"
import Intro from "~/components/Intro.astro"
import AlternativeCard from "~/components/cards/AlternativeCard.astro"

const { data } = await client.query({
  query: getAlternativesQuery,
})

const alternatives = data.alternatives
const title = "Open Source Software Alternatives"
---

<Layout title={title}>
  <Intro title={title}>
    <p slot="description">Browse top alternatives to find your best Open Source software tools.</p>
  </Intro>

  <Grid>
    {alternatives?.map((alt) => <AlternativeCard alternative={alt as Alternative} />)}
  </Grid>
</Layout>
