---
import Layout from "~/layouts/Layout.astro"
import { client } from "~/services/apollo"
import { getLanguagesQuery, type Language } from "~/queries/languages"
import Grid from "~/components/Grid.astro"
import Intro from "~/components/Intro.astro"
import LanguageCard from "~/components/cards/LanguageCard.astro"

const { data } = await client.query({
  query: getLanguagesQuery,
})

const languages = data.languages
const title = "Most Popular Languages used in Open Source Software"
---

<Layout title={title}>
  <Intro title={title}>
    <p slot="description">Browse top languages to find your best Open Source software options.</p>
  </Intro>

  <Grid>
    {languages?.map((language) => <LanguageCard language={language as Language} />)}
  </Grid>
</Layout>
