---
import Layout from "~/layouts/Layout.astro"
import Intro from "~/components/Intro.astro"
import Prose from "~/components/Prose.astro"
import { config } from "~/config"

const title = "Thank you for subscribing!"
---

<Layout title={title}>
  <Intro title={title} />

  <Prose>
    <p>You're all set! Thank you for subscribing to our newsletter.</p>
  </Prose>
</Layout>
