---
import Layout from "~/layouts/Layout.astro"
import Intro from "~/components/Intro.astro"
import Prose from "~/components/Prose.astro"
import { config } from "~/config"

const title = "Thank you for your purchase"
---

<Layout title={title}>
  <Intro title={title} />

  <Prose>
    <p>
      Thank you for your purchase. We process every order manually, so please allow us some time to
      get your site featured.
    </p>
  </Prose>
</Layout>
