---
import type { HTMLAttributes } from "astro/types"
import Logo from "~/components/Logo.astro"
import { config } from "~/config"
import { linkVariants, listVariants } from "~/styles"

type Props = HTMLAttributes<"div"> & {}

const { pathname } = Astro.url
const { class: className, ...props } = Astro.props
---

<nav class:list={["flex items-center gap-3 w-full min-w-0 pt-3 md:pt-4", className]} {...props}>
  {
    pathname === "/" ? (
      <h1>
        <Logo>{config.title}</Logo>
      </h1>
    ) : (
      <Logo>{config.title}</Logo>
    )
  }

  <div class:list={["ml-auto text-gray-600 max-sm:hidden", listVariants({ size: "lg" })]}>
    <a
      href="/categories"
      class:list={["hover:text-black", pathname.includes("categor") && "font-semibold"]}
    >
      Categories
    </a>
    <a
      href="/alternatives"
      class:list={["hover:text-black", pathname.includes("alternative") && "font-semibold"]}
    >
      Alternatives
    </a>
    <a
      href="https://buy.stripe.com/3cs7uy3zDdxyg7u9AA"
      target="_blank"
      class:list={["hover:text-black"]}
    >
      Advertise
    </a>
    <a
      href="https://airtable.com/appcN6nvv5n1GpABK/pagzZyGl6fEI2RWDq/form"
      target="_blank"
      class:list={["hover:text-black"]}
    >
      Submit
    </a>
  </div>
</nav>
