---
import type { HTMLAttributes } from "astro/types"
import { listVariants } from "~/styles"

type Props = HTMLAttributes<"div"> & {
  title?: string
}

const { class: className, title, ...props } = Astro.props
---

<div class:list={[className, "gap-y-7", listVariants({ direction: "column" })]} {...props}>
  {
    title && (
      <div class={listVariants({ size: "lg" })}>
        <slot name="prefix" />
        <h1 class="text-2xl font-semibold">{title}</h1>
        <slot name="suffix" />
      </div>
    )
  }

  {
    Astro.slots.has("description") && (
      <div class="-mt-4 prose prose-zinc prose-a:no-underline prose-lg text-gray-600 leading-normal">
        <slot name="description" />
      </div>
    )
  }

  <slot />
</div>
