---
import Container from "~/components/Container.astro"
import { config } from "~/config"
---

<a
  href="https://www.producthunt.com/posts/openalternative"
  class="sticky top-0 z-10 flex w-full text-white text-sm py-1.5 justify-center text-center transition bg-[#FF6154] hover:bg-[#FF487D]"
  target="_blank"
>
  <Container>
    <strong class="font-semibold">{config.title} is Live on Product Hunt today! 🚀</strong>
  </Container>
</a>
