<div
  class="prose prose-zinc prose-a:no-underline text-lg text-gray-800 leading-normal prose-a:px-0.5 prose-a:bg-fuchsia-600/[0.05] prose-a:border-b prose-a:border-fuchsia-600/20 prose-a:text-black/75 hover:prose-a:bg-fuchsia-600/10 hover:prose-a:text-black"
>
  <slot />
</div>
